
:root {
	--color-offwhite: #f4f4f4;
}

body {
	background-color: var(--color-offwhite);
    padding-bottom: 4em;
}

.favorite label {
    transition: all 0.3s;
    display: inline-block;
    transform: scale(1,1);
    color: var(--color-neutral-medium);
}

.favorite input:checked + label {
color: var(--color-main-medium);
transform: scale(1.5,1.5);
}

img {
	width: 300px;
}

.grid-gap: 2rem

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    justify-content: center;
    gap: 20px;
}

.card.soft {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: left;
}

.media-image {
    width: 100%;
    max-width: 150px;
    height: auto;
}




.figure.product {
    border-radius: 0.5em;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: all 0.3s;
}

.product.figure img {;
    width: 100%;
    object-fit: contain;
}


.productlist a {
    text-decoration: none;
    font-weight: initial;
}

.product.figure:hover {
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2);
}

.product-overlay {
    position: relative;
    overflow: hidden;
}

.product-overlay figcaption {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: all 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
}


.product-overlay:hover figcaption {
    opacity: 1;
}


.product-overlay .caption-body {
    background-color: white;
    border-radius: 0.5em;
    padding: 1em;
    transform: translateY(2em);
    transition: all 0.3s;
}


.product-overlay:hover .caption-body {
    transform: translateY(0);
}


.product-overlay img {
    transform:scale(1,1);
    transition: all 0.3s;
}


.product-overlay:hover img {
    transform:scale(1.4,1.4);
}

@media (min-width: 800px) {
    .menu-button label { display:none; }
}

@media (max-width: 799px) {
    .product-overlay figcaption {
        position: relative;
        display: block;
        top: initial;
        left: initial;
        width: 100%;
        height: initial;
        opacity: 1;
        background-color: initial;
    }

    .product-overlay .caption-body{
        transform: none;
        padding: 0;
    }

    .menu-button label { 
        display:block;
        padding: 0 1em;
        font-size: 1.75em;
    }

    .navbar .nav-flex ul {
        display: block;
    }

    .navbar .display-flex {
        flex-wrap: wrap;
    }

    .navbar .nav {
        width: 100%;
        display: none;
    }

    .navbar .nav li {
        line-height: 1.25em;
    }

    #menu:checked+.navbar .nav {
        display: block;
    }
}

.card-section~.card-section {
    border-top: 1px solid var(--color-neutral-medium);
}

.card-section {
    padding: 1em;
}

.card-section-button {
    padding: 1em;
    display: flex;
    flex-direction: column;
}



.images-main img {
    width: 100%;
    height: 40vh;
    object-fit: contain;
} 

.images-thumbs img {
    width: 8em;
    height: 6em;
    object-fit: contain;
}